.link,
.link:visited {
  text-decoration: none;
  color: rgb(39, 38, 38);
  font-size: 0.85em;
}

.title {
  font-weight: 500;
}

.textSecond {
  color: rgb(80, 80, 80);
  font-size: 0.85em;
}

.adjacentMatchDiv {
  display: flex;
  gap: 0 2rem;
}

.disabledLink {
  pointer-events: none;
}
