.link,
.link:visited {
  text-decoration: none;
  font-size: 0.85em;
}

.title {
  font-weight: 500;
}

.textSecond {
  color: rgb(80, 80, 80);
  font-size: 0.85em;
}

.adjacentMatchDiv {
  display: flex;
  gap: 0 2rem;
  margin-bottom: 1rem;
}

.adjacentMatchBtn {
  border-color: #80051b;
  border-radius: 2rem;
  border-style: solid;
  padding: 0.5rem;
  cursor: pointer;
  background-color: white;
  color: #a80623;
}

.adjacentMatchBtn div {
  display: flex;
  justify-content: center;
}

.adjacentMatchBtn:disabled {
  cursor: not-allowed;
}
