.header {
  height: 7.5rem;
  background-color: #80051b;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  display: flex;
  margin-left: 3rem;
}

.userHub {
  cursor: pointer;
}

.title {
  cursor: pointer;
}

.burger {
  margin-right: 50px;
}

.nonBurger {
  display: none;
}

@media (min-width: 500px) {
  .burger {
    display: none;
  }

  .nonBurger {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
  }
}
